// Font base
$root-em: 16px;
$em-base: 16; 

// Colors
$color: (
  c-white: #ffffff,
  c-black: #000000,
  c-orange: #FAA500,
  c-gray: #FAFAFA,
  c-gray02: #353535,
  c-gray03: #EFEFEF,
  c-gray04: #464B54,
  c-gray05: #C4C4C4,
  c-gray06: #787D83,
) !default;

$c-white: map-get($color, 'c-white');
$c-black: map-get($color, 'c-black');
$c-orange: map-get($color, 'c-orange');
$c-gray: map-get($color, 'c-gray');
$c-gray02: map-get($color, 'c-gray02');
$c-gray03: map-get($color, 'c-gray03');
$c-gray04: map-get($color, 'c-gray04');
$c-gray05: map-get($color, 'c-gray05');
$c-gray06: map-get($color, 'c-gray06');

// Base colors
$c-base-bg: $c-gray;
$c-base-text: $c-gray02;

// Grid
$qtd-col: 12;
$grid-gutter: 1rem; 
$base-gutter: ($grid-gutter / 2);

// Value map 
$breakpoints: (
    'extra-large-and-up': '( min-width: 1920px )',
    'extra-large-and-down': '( max-width: 1920px )',
    'large-and-up': '( min-width: 1280px )',
    'large-and-down': '( max-width: 1280px )',
    'large-only': '( max-width: 1919px ) and ( min-width: 1280px )',
    'medium-and-up': '( min-width: 960px )',
    'medium-and-down': '( max-width: 960px )',
    'medium-only': '( max-width: 1279px ) and ( min-width: 960px )',
    'small-and-up': '( min-width: 768px )',
    'small-and-down': '( max-width: 768px )',
    'small-only': '( max-width: 959px ) and ( min-width: 768px )',
    'extra-small-and-up': '( min-width: 361px )',
    'extra-small-and-down': '( max-width: 361px )',
    'extra-small-only': '( max-width: 767px ) and ( min-width: 360px )',
);

// Zindex
$index: (
	z-modal: 40,
	z-overlay: 30,
	z-fixed: 20,
	z-absolute: 10,
	z-initial: 1,
	z-auto: auto,
	z-deep: -1
);

$z-modal: map-get($index, 'z-modal');
$z-overlay: map-get($index, 'z-overlay');
$z-fixed: map-get($index, 'z-fixed');
$z-absolute: map-get($index, 'z-absolute');
$z-initial: map-get($index, 'z-initial');
$z-auto: map-get($index, 'z-auto');
$z-deep: map-get($index, 'z-deep');

// Duration
$duration: (
	d-slow: 0.6s,
	d-normal: 0.4s,
	d-fast: 0.2s
);

$d-slow: map-get($duration, 'd-slow');
$d-normal: map-get($duration, 'd-normal');
$d-fast: map-get($duration, 'd-fast');