//colors
$color: (
  c-white: #ffffff,
  c-black: #000000,
  c-orange: #FAA500,
  c-gray: #FAFAFA,
  c-gray02: #353535,
) !default;

$c-white: map-get($color, 'c-white');
$c-black: map-get($color, 'c-black');
$c-orange: map-get($color, 'c-orange');
$c-gray: map-get($color, 'c-gray');
$c-gray02: map-get($color, 'c-black');

///////base colors ///////
$c-base-bg: $c-gray;
$c-base-text: $c-gray02;

//grid breakpoints
$xs: 480px;
$sm: 768px;
$md: 991px;
$lg: 1024px;
$xlg: 1224px;

/* Value map */
$breakpoints: (
    'extra-large-and-up': ( min-width: $xlg),
    'extra-large-and-down': ( max-width: $xlg),
    'large-and-up': ( min-width: $lg ),
    'large-and-down': ( max-width: $lg ),
    'large-only': (( max-width: $xlg ) and ( min-width: $lg )),
    'medium-and-up': ( min-width: $md ),
    'medium-and-down': ( max-width: $md ),
    'medium-only': (( max-width: $lg ) and ( min-width: $md )),
    'small-and-up': ( min-width: $sm ),
    'small-and-down': ( max-width: $sm ),
    'small-only': (( max-width: $md) and ( min-width: $sm )),
    'extra-small-and-up': ( min-width: $xs ),
    'extra-small-and-down': ( max-width: $xs ),
    'extra-small-only': (( max-width: $sm) and ( min-width: $xs )),
);

// Zindex //
$index: (
	z-modal: 40,
	z-overlay: 30,
	z-fixed: 20,
	z-absolute: 10,
	z-initial: 1,
	z-auto: auto,
	z-deep: -1
);