.header {
  background: $c-white;

  &__top {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);

    &-content {
      align-items: center;
      display: flex;
      padding: 28px 0;

      @include breakpoint('medium-and-up') { 
        padding: 21px 0;
      }

    }
  }

  &__bottom {
    @include breakpoint('large-and-down') { 
      display: none;
    }
  }

  .menu {
    @include size(rem(32));
    margin-right: 15px;
    
    @include breakpoint('large-and-up') { 
      display: none;
    }
  }
}

.pitchbar {
  background: {
    color: $c-gray02;
  }
  font: {
    size: rem(10);
    weight: $fw-regular;
  }
  line-height: 18px;
  padding: 3px 0;
  text-align: center;

  @include breakpoint('medium-and-up') { 
    font: {
      size: rem(12);
    }
  }

  &__text {
    color: $c-white;
    margin: 0;
  }
}

.navbar {
  &__list {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: center;

    @include breakpoint('extra-large-and-up') {
      justify-content: flex-start;
      margin-left: 145px;
    }
  }

  &__item {
    margin: 0 8px;
    min-width: 146px;
  }

  &__link {
    align-items: center;
    color: $c-gray02;
    display: flex;
    font: {
      size: rem(14);
      weight: $fw-regular;
    }
    justify-content: center;
    padding: 12px;
    transition: $d-normal;

    &:hover {
      color: $c-orange;
    }
  }

  &-highlight {
    color: $c-orange;
    font: {
      weight: $fw-bold;
    }

    &::before {
      @include size(rem(16));
      content: "";
      background: {
        image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2125 12.6185L11.7257 8.60092C11.2108 7.76968 10.6326 6.97929 9.99642 6.23674L9.50005 5.65758V5.00005C9.5 4.65404 9.57983 4.31269 9.7333 4.00258C9.88678 3.69247 10.1098 3.42197 10.3849 3.21214L11.3619 2.72364C11.3952 2.70697 11.4244 2.68305 11.4473 2.65364C11.4702 2.62422 11.4863 2.59005 11.4943 2.55364C11.5023 2.51722 11.502 2.47947 11.4935 2.44317C11.4851 2.40686 11.4686 2.37291 11.4453 2.3438L10.4453 1.0938L10.4451 1.09395C10.4226 1.06565 10.3942 1.04259 10.3619 1.02636L9.36186 0.526361C9.32426 0.507541 9.28252 0.498515 9.24051 0.500121C9.1985 0.501727 9.15757 0.513913 9.12152 0.535548C8.78272 0.738757 8.39511 0.846161 8.00005 0.846298C7.60499 0.846189 7.21738 0.738818 6.87858 0.535642C6.84256 0.513985 6.80165 0.501772 6.75966 0.500133C6.71766 0.498494 6.67593 0.507483 6.63833 0.526267L5.63833 1.02627C5.60601 1.04249 5.57762 1.06556 5.55511 1.09386L5.55483 1.0938L4.55483 2.3438C4.53155 2.37291 4.51507 2.40685 4.5066 2.44315C4.49813 2.47945 4.49789 2.51718 4.50588 2.55358C4.51388 2.58999 4.52991 2.62414 4.55281 2.65355C4.57571 2.68296 4.6049 2.70688 4.63823 2.72355L5.6152 3.21205C5.89035 3.42188 6.11334 3.6924 6.26681 4.00252C6.42029 4.31265 6.50011 4.65402 6.50005 5.00005V5.65758L6.0037 6.23667C5.36749 6.97926 4.78934 7.76969 4.27436 8.60095L1.78755 12.6185C1.76232 12.6592 1.74934 12.7064 1.75016 12.7543C1.75098 12.8022 1.76556 12.8489 1.79217 12.8888C2.01 13.2155 2.31462 13.475 2.6718 13.6381L2.5343 13.8741H2.53455C2.52827 13.8846 2.52278 13.8956 2.51814 13.907C2.4935 13.9686 2.49432 14.0374 2.52043 14.0983C2.54653 14.1593 2.59577 14.2074 2.65733 14.232L2.9502 14.3492C3.47005 14.5579 4.03319 14.6358 4.59017 14.576L4.5063 14.9447C4.49875 14.9779 4.49807 15.0123 4.5043 15.0457C4.51052 15.0792 4.52352 15.1111 4.54249 15.1394C4.56146 15.1676 4.58601 15.1917 4.61463 15.2102C4.64325 15.2286 4.67534 15.241 4.70892 15.2466L5.28183 15.3423C5.91249 15.4471 6.55072 15.4999 7.19005 15.5H8.81005C9.44942 15.4999 10.0877 15.4471 10.7184 15.3422L11.2912 15.2466C11.3248 15.241 11.3569 15.2286 11.3855 15.2102C11.4141 15.1917 11.4387 15.1676 11.4576 15.1394C11.4766 15.1111 11.4896 15.0792 11.4958 15.0457C11.5021 15.0123 11.5014 14.9779 11.4938 14.9447L11.4101 14.5762C11.9671 14.6359 12.5303 14.558 13.0501 14.3494L13.343 14.2322C13.3765 14.219 13.4067 14.1987 13.4316 14.1727C13.4565 14.1467 13.4754 14.1156 13.4871 14.0816C13.4988 14.0475 13.5029 14.0113 13.4992 13.9755C13.4956 13.9397 13.4841 13.9052 13.4658 13.8742H13.466L13.3285 13.6383C13.6857 13.4751 13.9903 13.2156 14.2081 12.8889C14.2347 12.849 14.2493 12.8023 14.2501 12.7543C14.2509 12.7064 14.2378 12.6592 14.2125 12.6185ZM10.5 2.59555V1.96274L10.8616 2.41477L10.5 2.59555ZM8.98755 1.15727C8.95005 1.39219 8.83003 1.60605 8.64904 1.76044C8.46805 1.91484 8.23794 1.99965 8.00005 1.99965C7.76215 1.99965 7.53205 1.91484 7.35106 1.76044C7.17006 1.60605 7.05004 1.39219 7.01255 1.15727C7.32684 1.28202 7.6619 1.34616 8.00005 1.3463C8.33819 1.34616 8.67326 1.28202 8.98755 1.15727ZM5.50005 1.96274V2.59555L5.13845 2.41477L5.50005 1.96274ZM6.00005 2.87886V1.40455L6.50761 1.15077C6.5449 1.52067 6.71822 1.86355 6.99398 2.11291C7.26973 2.36227 7.62827 2.50033 8.00005 2.50033C8.37183 2.50033 8.73036 2.36227 9.00612 2.11291C9.28187 1.86355 9.4552 1.52067 9.49249 1.15077L10 1.40455V2.87886C9.719 3.11068 9.48684 3.39605 9.31706 3.71839C9.14728 4.04072 9.04327 4.39359 9.01108 4.75648C8.80985 4.77543 8.61517 4.83799 8.44056 4.9398C8.26596 5.04162 8.11564 5.18025 8.00005 5.34605C7.88446 5.18025 7.73413 5.04162 7.55953 4.9398C7.38493 4.83799 7.19025 4.77543 6.98902 4.75648C6.95682 4.39359 6.85281 4.04072 6.68303 3.71839C6.51325 3.39605 6.28109 3.11068 6.00005 2.87886ZM8.30789 5.82545C8.36361 5.67898 8.45691 5.54977 8.57841 5.4508C8.69991 5.35183 8.84534 5.2866 9.00005 5.26167V5.63874C8.90402 5.7163 8.79286 5.77298 8.67367 5.80513C8.55449 5.83728 8.4299 5.8442 8.30789 5.82545ZM7.00005 5.63874V5.26167C7.15476 5.2866 7.30018 5.35183 7.42168 5.4508C7.54319 5.54977 7.63649 5.67898 7.6922 5.82545C7.57019 5.8442 7.44561 5.83728 7.32642 5.80513C7.20724 5.77297 7.09608 5.7163 7.00005 5.63874ZM3.13577 13.8851L3.11205 13.8757L4.71599 11.1261L4.28411 10.8742L2.92505 13.2036C2.68239 13.1015 2.46837 12.9416 2.30161 12.7378L4.69945 8.8642C5.20089 8.05481 5.76383 7.28517 6.3833 6.56211L6.78095 6.09814C6.84868 6.14389 6.92031 6.18356 6.99502 6.2167L6.30108 8.02067C5.94131 8.95721 5.64896 9.91828 5.42627 10.8965L4.70845 14.055C4.17858 14.1439 3.63443 14.0852 3.13577 13.8851ZM5.36389 14.8491L5.05242 14.7971L5.9137 11.0073C6.13112 10.0524 6.41654 9.11426 6.76777 8.20005L7.48339 6.33974L7.46499 6.33267C7.4952 6.33464 7.52545 6.33602 7.55586 6.33602C7.62084 6.33592 7.68573 6.33127 7.75005 6.32208V15H7.19005C6.57826 14.9999 5.96752 14.9494 5.36402 14.8491H5.36389ZM10.636 14.8491C10.0325 14.9494 9.42182 14.9999 8.81005 15H8.25005V6.32217C8.31437 6.33134 8.37926 6.33598 8.44424 6.33608C8.47464 6.33608 8.50492 6.3347 8.53511 6.33274L8.5167 6.3398L9.23233 8.20005C9.58351 9.11426 9.86888 10.0524 10.0863 11.0073L10.9475 14.7971L10.636 14.8491ZM13.4524 12.9801C13.3373 13.0715 13.2103 13.1467 13.0748 13.2037L11.716 10.8741L11.2841 11.126L12.888 13.8756L12.8644 13.885C12.3657 14.0851 11.8215 14.1438 11.2916 14.0549L10.5738 10.8964C10.3511 9.91816 10.0588 8.95708 9.69902 8.02052L9.00508 6.21658C9.07978 6.18344 9.15141 6.14377 9.21914 6.09805L9.61683 6.56208C10.2363 7.2851 10.7992 8.05469 11.3006 8.86405L13.6985 12.7378C13.6254 12.8272 13.5429 12.9084 13.4525 12.9801L13.4524 12.9801Z' fill='black'/%3E%3C/svg%3E%0A");
        repeat: no-repeat;
        size: 16px;
      }
      display: inline-block;
      margin-right: 8px;
    }

    &:hover {
      color: $c-gray02;
    }
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

.logo {
  max-width: 110px;
  margin: 0;

  @include breakpoint('medium-and-up') { 
    max-width: 147px;
  }

  a {
    display: block;
  }

  img {
    width: 100%;
  }
}

.search {
  
  &-mobile {
    @include size(rem(32));
    cursor: pointer;
    margin-left: auto;

    &::before {
      @include size(rem(32));
      background: {
        image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.8535 26.4395L20.8817 19.4677C22.204 17.8351 23 15.7597 23 13.5C23 8.26175 18.7383 4 13.5 4C8.2617 4 4 8.26175 4 13.5C4 18.7383 8.26175 23.0001 13.5 23.0001C15.7597 23.0001 17.8351 22.204 19.4677 20.8817L26.4395 27.8536C26.6348 28.0488 26.9513 28.0488 27.1467 27.8536L27.8536 27.1466C28.0488 26.9513 28.0488 26.6347 27.8535 26.4395ZM13.5 21.0001C9.3643 21.0001 6.00002 17.6358 6.00002 13.5C6.00002 9.3643 9.3643 6.00002 13.5 6.00002C17.6358 6.00002 21.0001 9.3643 21.0001 13.5C21.0001 17.6358 17.6358 21.0001 13.5 21.0001Z' fill='black'/%3E%3C/svg%3E%0A");
        repeat: no-repeat;
        size: 32px;
      }
      content: "";
      display: block;
    }

    @include breakpoint('medium-and-up') { 
      display: none;
    }
  }

  &__field, &__button {
    display: none;
  }

  @include breakpoint('medium-and-up') { 
    align-items: center;
    display: flex;
    flex-grow: 1;
    width: 500px;
    max-width: 791px;
    margin: {
      left: 60px;
      right: 40px;
    }

    &__field {
      background: $c-gray03;
      border: 0;
      border-radius: 10px;
      display: block;
      padding: 0 24px;
      width: 100%;

      &::placeholder {
        font: {
          size: rem(12);
        }
      }
    }

    &__button {
      border-radius: 8px;
      display: block;
      font: {
        size: rem(14);
      }
      padding: 11px 39px;
      margin-left: -34px;

      &:hover {
        background: $c-white;
      }
    }
  }

  @include breakpoint('extra-large-and-up') {
    margin-left: 93px;
    width: 791px;
  }
    
}

.account, .wishlist, .cart {
  align-items: center;
  cursor: pointer;
  display: flex;
  transition: $d-normal;

  @include breakpoint('large-and-up') { 
    margin: 0 41px 0 0;
  }

  &__title {
    color: $c-gray02;
    font: {
      size: rem(14);
    }
    margin-left: 8px;

    @include breakpoint('medium-and-down') { 
      display: none;
    }
  }

  &::before {
    @include size(rem(32));
    content: "";
    background: {
      repeat: no-repeat;
      size: 32px;
    }
    display: inline-block;

    @include breakpoint('medium-and-up') { 
      @include size(rem(14), rem(16));
      background-size: 14px 16px;
    }
  }  
}

.account {
  margin-left: auto;

  &::before {
    background: {
      image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.8 9.5C8.90312 9.5 8.47188 10 7 10C5.52812 10 5.1 9.5 4.2 9.5C1.88125 9.5 0 11.3813 0 13.7V14.5C0 15.3281 0.671875 16 1.5 16H12.5C13.3281 16 14 15.3281 14 14.5V13.7C14 11.3813 12.1187 9.5 9.8 9.5ZM12.5 14.5H1.5V13.7C1.5 12.2125 2.7125 11 4.2 11C4.65625 11 5.39687 11.5 7 11.5C8.61563 11.5 9.34062 11 9.8 11C11.2875 11 12.5 12.2125 12.5 13.7V14.5ZM7 9C9.48438 9 11.5 6.98438 11.5 4.5C11.5 2.01562 9.48438 0 7 0C4.51562 0 2.5 2.01562 2.5 4.5C2.5 6.98438 4.51562 9 7 9ZM7 1.5C8.65312 1.5 10 2.84687 10 4.5C10 6.15312 8.65312 7.5 7 7.5C5.34688 7.5 4 6.15312 4 4.5C4 2.84687 5.34688 1.5 7 1.5Z' fill='%23353535'/%3E%3C/svg%3E%0A");
    }
  }

  @include breakpoint('large-and-down') { 
    display: none;
  }
}

.wishlist {
  
  @include breakpoint('large-and-down') { 
    display: none;
  }

  &::before {
    background: {
      image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.367 1.15404C14.3033 -0.581202 11.1148 -0.320559 9.14037 1.68961C7.16591 -0.320559 3.97749 -0.584772 1.91377 1.15404C-0.771215 3.41414 -0.378464 7.09885 1.5353 9.05189L7.79788 15.4323C8.15493 15.7965 8.63337 16 9.14037 16C9.65095 16 10.1258 15.8001 10.4829 15.4359L16.7454 9.05546C18.6556 7.10242 19.0555 3.41771 16.367 1.15404ZM15.5244 7.84865L9.26177 14.2291C9.17608 14.3147 9.10467 14.3147 9.01898 14.2291L2.7564 7.84865C1.45318 6.52044 1.18897 4.00683 3.01704 2.46797C4.40595 1.30043 6.54822 1.47538 7.89071 2.84287L9.14037 4.11752L10.39 2.84287C11.7397 1.46824 13.8819 1.30043 15.2637 2.4644C17.0882 4.00326 16.8169 6.53115 15.5244 7.84865Z' fill='%23353535'/%3E%3C/svg%3E%0A");
    }
  }

  &:hover {
    &:before {
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }
  }
}

.cart {
  margin: {
    left: 31px;
    right: 0;
  }
  
  @include breakpoint('medium-and-up') {
    margin-left: 0;
  }

  @include breakpoint('large-and-up') { 
    border: 1px solid $c-orange;
    border-radius: 8px;
    padding: 12px 15px;

    &:hover {
      background: {
        color: $c-orange;
      }
    }
  }

  &::before {
    background: {
      image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.7682 27.2112L23.9441 9.84052C23.9059 9.47687 23.5993 9.20074 23.2337 9.20074H19.8052V8.41907C19.8052 5.98248 17.8227 4 15.3861 4C12.9494 4 10.9669 5.98248 10.9669 8.41907V9.20074H7.53842C7.17276 9.20074 6.86624 9.47687 6.82797 9.84052L5.00388 27.2112C4.98282 27.4124 5.04819 27.6133 5.1835 27.7638C5.319 27.9141 5.512 28 5.71433 28H25.0576C25.2601 28 25.4531 27.9141 25.5884 27.7638C25.7241 27.6133 25.7893 27.4124 25.7682 27.2112ZM12.3955 8.41907C12.3955 6.7702 13.7371 5.42859 15.3861 5.42859C17.035 5.42859 18.3766 6.7702 18.3766 8.41907V9.20074H12.3955V8.41907ZM6.50754 26.5714L8.18167 10.6293H10.9669V12.2035C10.9669 12.5979 11.2868 12.9178 11.6812 12.9178C12.0756 12.9178 12.3955 12.5979 12.3955 12.2035V10.6293H18.3766V12.2035C18.3766 12.5979 18.6965 12.9178 19.0909 12.9178C19.4853 12.9178 19.8052 12.5979 19.8052 12.2035V10.6293H22.5904L24.2646 26.5714H6.50754Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    @include breakpoint('medium-and-up') { 
      @include size(rem(18));
      background-size: 18px;
    }
  }
}

