h2 {
  color: $c-gray02;
  font: {
    family: $f-default;
    size: rem(24);
    weight: $fw-bold;
  }
  line-height: 37px;

  @include breakpoint('small-and-up') {
    font: {
      size: rem(32);
    }
    line-height: 49px;
  }
}

h3 {
  color: $c-black;
  font: {
    family: $f-default;
    size: rem(24);
    weight: $fw-bold;
  }
  line-height: 37px;
}